.bugi {
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: red;
    border: none;
    cursor: pointer;
    user-select: none;
    z-index: 9999;
}